<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,height=device-height,minimum-scale=1">
  <meta name="theme-color" content="{{ settings.color_cream }}">

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">
  {{ content_for_header }}

  {{ 'base.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
</head>

<body class="qt-body">
  <a class="qt-skip-link" href="#MainContent">Passer au contenu</a>

  {% section 'announcement-bar' %}
  {% section 'header' %}

  <main id="MainContent" class="qt-main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <div id="cart-drawer-root"></div>
</body>
</html>
